<app-top-header></app-top-header>
<div  style="top:50px;position: fixed; display:block;width:100%">
  <app-header-entreprise></app-header-entreprise>
</div>

<div style="margin-top: 200px;" class="col-8 mx-auto">
    <h3 style="margin-top: 200p;width: 45%;background-color: rgba(26, 144, 255, 0.687);border-radius: 20px;" class="mb-5 ms-5 p-2 text-center">Les candidats qui ont postule  <i class="fa fa-caret-right ms-3" aria-hidden="true"></i></h3>
</div>

<!-- ------------les candidats trouvées--- -->
<div class="container  w-100 mb-4 contDemandes " >
  <!-- <div class="container bg-light   w-75x contPetit"> -->
    <div class="row  w-75 mx-auto p-3 contPetit">
      <div class="col-2">
        <div class="imgProfil mx-auto mt-5">
            <img [src]="image" >
        </div> 
        <h6><a href="/profilOffre"></a></h6>
      </div>

      <div class="col-6 ps-4   ">
        <h5 style="font-family:'Times New Roman', Times, serif;">Stagiaire en Génie Informatique</h5>
        <h6>Khalid hamdaoui</h6>
        <ul class="list-unstyled" style="font-size: 12px;">
          <li><span class="text-success">Formation</span> : Bac+3 (Univ. Moulay Isma)</li>
          <li><span class="text-success">Type de formation</span> : Génie Informatique</li>
          </ul>
          <div class="row mt5 disponibility-container" style="background-color: rgb(223, 222, 222);">
            <div class="col-md-12"><h4>Disponibilité</h4></div>
            <div class="col-md-6">
            <ul class="list-unstyled" style="font-size: 12px;">
            <li><span class="text-success">Durée du stage</span> : 6 mois (09/2023 au 02/2024)</li>
            <li><span class="text-success">Convention</span> : Non</li>
            </ul>
            </div>
            <div class="col-md-6" style="font-size: 12px;">
            <ul class="list-unstyled" >
            <li><span class="text-success">Type de stage</span> : Stage fonctionnel</li>
            <li><span class="text-success">Ville de stage</span> : Kénitra</li>
            </ul>
            </div>
            </div>
        <p></p>
      </div>
     
      <div class="col-2 mx-auto">
        
          <img [src]="CvExemple" style="" class="mx-auto mb-2 p-2"  width="100%" height="70%" >
    
        <button class="w-100 h-100 mx-auto bg-info" class="w-100 h-100" data-toggle="modal" data-target="#connecting" style="background-color: #0099DD" class="btn  text-white">
          <i class="fa fa-lock"></i> Consulter CV
          </button>
      </div>
    </div>
    <!-- <embed *ngIf="showCvFlag"  type="application/pdf" width="100%" height="600px" /> -->
  </div>


  <div class="container  w-100 mb-4 contDemandes " >
    <!-- <div class="container bg-light   w-75x contPetit"> -->
      <div class="row  w-75 mx-auto p-3 contPetit">
        <div class="col-2">
          <div class="imgProfil mx-auto mt-5">
              <img [src]="image" >
          </div> 
          <h6><a href="/profilOffre"></a></h6>
        </div>
  
        <div class="col-6 ps-4   ">
          <h5 style="font-family:'Times New Roman', Times, serif;">Stagiaire en Génie Informatique</h5>
          <h6>Khalid hamdaoui</h6>
          <ul class="list-unstyled" style="font-size: 12px;">
            <li><span class="text-success">Formation</span> : Bac+3 (Univ. Moulay Isma)</li>
            <li><span class="text-success">Type de formation</span> : Génie Informatique</li>
            </ul>
            <div class="row mt5 disponibility-container" style="background-color: rgb(223, 222, 222);">
              <div class="col-md-12"><h4>Disponibilité</h4></div>
              <div class="col-md-6">
              <ul class="list-unstyled" style="font-size: 12px;">
              <li><span class="text-success">Durée du stage</span> : 6 mois (09/2023 au 02/2024)</li>
              <li><span class="text-success">Convention</span> : Non</li>
              </ul>
              </div>
              <div class="col-md-6" style="font-size: 12px;">
              <ul class="list-unstyled" >
              <li><span class="text-success">Type de stage</span> : Stage fonctionnel</li>
              <li><span class="text-success">Ville de stage</span> : Kénitra</li>
              </ul>
              </div>
              </div>
          <p></p>
        </div>
       
        <div class="col-2 mx-auto">
          
            <img [src]="CvExemple" style="" class="mx-auto mb-2 p-2"  width="100%" height="70%" >
      
          <button class="w-100 h-100 mx-auto bg-info" class="w-100 h-100" data-toggle="modal" data-target="#connecting" style="background-color: #0099DD" class="btn  text-white">
            <i class="fa fa-lock"></i> Consulter CV
            </button>
        </div>
      </div>
      <!-- <embed *ngIf="showCvFlag"  type="application/pdf" width="100%" height="600px" /> -->
    </div>


    <div class="container  w-100 mb-4 contDemandes " >
      <!-- <div class="container bg-light   w-75x contPetit"> -->
        <div class="row  w-75 mx-auto p-3 contPetit">
          <div class="col-2">
            <div class="imgProfil mx-auto mt-5">
                <img [src]="image" >
            </div> 
            <h6><a href="/profilOffre"></a></h6>
          </div>
    
          <div class="col-6 ps-4   ">
            <h5 style="font-family:'Times New Roman', Times, serif;">Stagiaire en Génie Informatique</h5>
            <h6>Khalid hamdaoui</h6>
            <ul class="list-unstyled" style="font-size: 12px;">
              <li><span class="text-success">Formation</span> : Bac+3 (Univ. Moulay Isma)</li>
              <li><span class="text-success">Type de formation</span> : Génie Informatique</li>
              </ul>
              <div class="row mt5 disponibility-container" style="background-color: rgb(223, 222, 222);">
                <div class="col-md-12"><h4>Disponibilité</h4></div>
                <div class="col-md-6">
                <ul class="list-unstyled" style="font-size: 12px;">
                <li><span class="text-success">Durée du stage</span> : 6 mois (09/2023 au 02/2024)</li>
                <li><span class="text-success">Convention</span> : Non</li>
                </ul>
                </div>
                <div class="col-md-6" style="font-size: 12px;">
                <ul class="list-unstyled" >
                <li><span class="text-success">Type de stage</span> : Stage fonctionnel</li>
                <li><span class="text-success">Ville de stage</span> : Kénitra</li>
                </ul>
                </div>
                </div>
            <p></p>
          </div>
         
          <div class="col-2 mx-auto">
            
              <img [src]="CvExemple" style="" class="mx-auto mb-2 p-2"  width="100%" height="70%" >
        
            <button class="w-100 h-100 mx-auto bg-info" class="w-100 h-100" data-toggle="modal" data-target="#connecting" style="background-color: #0099DD" class="btn  text-white">
              <i class="fa fa-lock"></i> Consulter CV
              </button>
          </div>
        </div>
        <!-- <embed *ngIf="showCvFlag"  type="application/pdf" width="100%" height="600px" /> -->
      </div>
  
  
<!-- </div> -->

    <div class="w-25 mx-auto my-5 mt-4" >
      <ul class="pagination mx-auto">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </ul>
    </div>

<app-footer></app-footer>
<!-- Ajoutez cette balise à la fin de votre template -->
