<app-top-header></app-top-header>
<div  style="top:50px;position: fixed; display:block;width:100%;z-index: 100;">
  <app-header></app-header>
</div>





        <div class="container">
     <div class="contLink" style="margin-top: 240px;" >
        <a class="" href="/espaceEntreprise">Accueil</a> ›<a class="" href="/profilOffre"> Profile</a>
      </div>         
        <form class="" action="">
          <div class="row w-75 mx-auto">
            <div class="col">

                  <!-- file input-->
                  <div  class="form-group">
                    <label for="photo">Nom :</label>
                  <div class="input-group w-75 user-box mb-1">   
                    <input id="nom" type="text" class="form-control" placeholder="Nom"  />    
                    </div> 
                  </div>    

                  <!-- Text input-->
                  <div class="form-group">
                    <label for="prenom">Prénom :</label>
                  <div class="input-group w-75 user-box mb-1">   
                    <input id="prenom" type="text" class="form-control" placeholder="Prénom"  />    
                    </div> 
                  </div>     

                  <!-- file input-->
                  <div class="form-group">
                    <label for="photoProfil">Photo de profile :</label>  
                        <div class="input-group  w-75">                  
                            <input  class="form-control"  type="file">
                        </div>          
                  </div>


            </div>


            <div class="col">

                  
                  <!-- Text input-->
                  <div class="form-group">
                    <label for="email">Email :</label>
                  <div class="input-group w-75 user-box mb-1">   
                    <input id="email" type="text" class="form-control" placeholder="Email"  />    
                    </div> 
                  </div>  
                  
                    <!-- Text input-->
                    <div class="form-group">
                        <label for="adresse">Adresse :</label>
                      <div class="input-group w-75 user-box mb-1">   
                        <input id="adresse" type="text" class="form-control" placeholder="Adresse"  />    
                        </div> 
                      </div>                   
                  
                  <!-- Text input-->
                  <div class="form-group">
                    <label for="ville">Ville :</label>
                  <div class="input-group w-75 user-box mb-1">   
                    <input id="ville" type="text" class="form-control" placeholder="Ville"  />    
                    </div> 
                  </div>  
            </div>


            <div class="col">

                    <!-- Text input-->
                    <div class="form-group">
                      <label for="experience">Expérience</label>
                      <div class="input-group  w-75 user-box mb-1">
                        <select class="form-select" >
                          <option selected>Expérience</option>
                          <option value="1">Débutant</option>
                          <option value="2">Moins de 1 an</option>
                          <option value="3">De 1 à 3 ans</option>
                          <option value="3">De 3 à 5 ans</option>
                          <option value="3">De 5 à 10 ans</option>
                          <option value="3">De 10 à 20 ans</option> 
                          <option value="3">Plus de 20 ans</option>  
                        </select>
                      </div>
                    </div>  
                                       
                    <!-- Select Basic -->
                      
                    <div class="form-group"> 
                      <label>Niveau d'étude</label>
                        <div class="input-group  w-75 user-box mb-1">
                        <select class="form-select" >
                          <option value=" " >Choisir</option>
                          <option>Bac</option>
                          <option>Bac+1</option>
                          <option >Bac+1</option>
                          <option >Bac+2</option>
                          <option >Bac+3</option>
                          <option >Bac+4</option>
                          <option >Bac+5 et plus</option>
                        </select>
                      </div>
                    </div>

                  <!-- file input-->
                  
                  <div class="form-group ">
                    <label class="col-md-4 control-label">Votre CV :</label>  
                    <div class="input-group  w-75">
                            <input   class="form-control"  type="file">
                    </div>
                  </div>                    

            </div>
          </div>
          
            <div class="text-center mt-5" style="margin-bottom: 150px;">
                    <button class="btn " style="background-color:#0099DD;color:white;"> Enregistrer</button>
            </div>

        </form>
    </div>


 <app-footer></app-footer>
 
         <!-- Text input-->
        
         <!-- <div class="form-group">
          <label for="typeFormation">Type de formation :</label>  
          <div class="input-group  w-75 user-box mb-1">   
            <i class="fa fa-user fa-lg" aria-hidden="true"></i>
            <input id="typeFormation" type="text" class="" placeholder="Type de formation"  />    
            </div> 
        </div> -->

                <!-- Button -->
                <!-- <div class="form-group">
                  <div class="col-md-4  mt-4">
                    <button type="submit" class="btn btn-primary  my-4" >Modifier <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                  </div>
                </div> -->