<app-top-header></app-top-header>
<div  style="top:50px;position: fixed; display:block;width:100%;z-index: 100;">
  <app-header></app-header>
</div>



        <div class="container mx-auto d-flex" style="margin: 270px 0 100px 0;">
          <div class="contLink mb-3" >
            <a class="" href="/espaceEntreprise">Accueil</a> ›<a class="" href="/profilOffre"> Profile</a>
          </div>
          <div class="row  w-25 p-4 mx-5" style="border-radius: 5px; background-color: rgb(243, 242, 241);">
                <h5 class="mb-4"><i class="fa fa-user" aria-hidden="true"></i> Hamza Laghnimi</h5>
                <div class="col">
                      <!-- file input-->
                      <div class="">   
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>hamzalaghnimi22@gmail.com </span>
                      </div> 
                      <!-- file input-->
                      <div class="">   
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span> 0773241700 </span>
                      </div>   
                      <!-- file input-->
                      <div class="">   
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span> Rabat </span>
                      </div>                                   
                </div>
          </div>


                    <div class="row w-25 p-4" style="border-radius: 5px; background-color: rgb(243, 242, 241);">
                      <div class="col">
                            <!-- file input-->
                            <div class="">   
                              <label class="fw-bold">Secteur :</label>
                              <span> Informatique </span>
                            </div> 

                            <!-- file input-->
                            <div class="">   
                              <label class="fw-bold">Expérience :</label>
                              <span> Débutant < 2 ans </span>
                            </div> 
                            
                            <!-- file input-->
                            <div class="">   
                              <label class="fw-bold">Niveau d´études  :</label>
                              <span> Bac+3 </span>
                            </div>     
                            
                            <!-- file input-->
                            <div class="">   
                              <label class="fw-bold">Formation :</label>
                              <span> ILSI </span>
                            </div> 
                      </div>
                </div>

                <div class="row w-25 p-4 ms-5" style="border-radius: 5px; background-color: rgb(243, 242, 241);">
                  <div class="col">
                        <!-- file input-->
                        <div class="">   
                          <label class="fw-bold">Secteur :</label>
                          <span> Informatique </span>
                        </div> 

                        <!-- file input-->
                        <div class="">   
                          <label class="fw-bold">Expérience :</label>
                          <span> Débutant < 2 ans </span>
                        </div> 
                        
                        <!-- file input-->
                        <div class="">   
                          <label class="fw-bold">Niveau d´études  :</label>
                          <span> Bac+3 </span>
                        </div>     
                        
                        <!-- file input-->
                        <div class="">   
                          <label class="fw-bold">Formation :</label>
                          <span> ILSI </span>
                        </div> 
                  </div>
            </div>

            

        </div>
        <div class="container w-25" style="margin-bottom: 170px;">
          <a href="/Edit-profil-stagiaire">
          <button class="btn px-3" style="background-color:#0099DD; color:white;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</button>

          </a>
        </div>
        


 <app-footer></app-footer>
 
         <!-- Text input-->
        
         <!-- <div class="form-group">
          <label for="typeFormation">Type de formation :</label>  
          <div class="input-group  w-75 user-box mb-1">   
            <i class="fa fa-user fa-lg" aria-hidden="true"></i>
            <input id="typeFormation" type="text" class="" placeholder="Type de formation"  />    
            </div> 
        </div> -->

                <!-- Button -->
                <!-- <div class="form-group">
                  <div class="col-md-4  mt-4">
                    <button type="submit" class="btn btn-primary  my-4" >Modifier <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                  </div>
                </div> -->