


<nav id="navbar" class="navbar navbar-expand-lg  w-100">
  <div class="container-fluid">
   
    <a class="navbar-brand ms-5" href="/accueil"> <img [src]="image" width="180px" height="80px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
      </ul>
      <ul class="navbar-nav me-5 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-decoration-none px-4 active item-menu" href="/accueil" id="menu-accueil">Accueil</a>
        </li>

        <li class="nav-item">
          <div class="dropdown px-4 ms-3" >
              <a class="nav-link text-decoration-none item-menu dropdown-toggle" href="#" role="button" id="menu-offres" data-bs-toggle="dropdown" aria-expanded="false">
                Offres
              </a>
            
              <ul class="dropdown-menu" aria-labelledby="menu-offres">
                <li><a class="dropdown-item text-dark" href="/offres">Rechercher offre  <i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                <li><a class="dropdown-item text-dark" href="/OffreInformations">Mes offres  <i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                <li><a class="dropdown-item text-dark" href="/allEntreprise">Entreprise qui recrute  <i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
              </ul>
          </div>
      </li>
      <li class="nav-item">
        <div class="dropdown px-4 ms-3" >
            <a class="nav-link text-decoration-none item-menu dropdown-toggle" href="#" role="button" id="menu-formation" data-bs-toggle="dropdown" aria-expanded="false">
              Formation
            </a>
            <ul class="dropdown-menu" aria-labelledby="menu-formation">
              <li><a class="dropdown-item text-dark" href="formations">Mes formations  <i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
              <li><a class="dropdown-item text-dark" href="#">Rechercher formation  <i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link text-decoration-none px-4 ms-3 item-menu" href="/contact">Contact</a>
    </li>
  </ul>
     
      
    </div>
  </div>
</nav>

