.divGrand{
    margin-top: 100px;
    padding: 50px;
    width: 30%;
    border-radius: 10px;
    /* border: 1px solid black; */
    text-align: center;
    /* background-color: rgb(199, 199, 199); */
    box-shadow: 0px 0px 10px 1px gray;
		
}
.divGrand h1 {
    padding: 23px 0 50px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0.01px solid black;
    color: #0099DD95;
}
input[type=text] {
    border-radius: 5px;
    width: 300px;
    height: 40px;
    background-color: #e6e6e6;
    padding-left: 10px;
}
input[type=submit] {
    border-radius: 10px;
    background-color:#0099DD;
    color:white;
    border: 1px solid black;
}
input[type=submit]:hover{
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.25), 
			0 0 5px 2px rgba(0,0,0,0.22);
    border: 1px solid black;
}
p a {
    color: gray;
}
p a:hover {
    color: black;
    border-bottom: 1px solid black;
}
@media only screen and (max-width:600px){
    .divGrand{
        margin-top: 100px;
        padding: 50px;
        width: 80%;
        border-radius: 15px;
        border: 1px solid black;
        text-align: center;
        /* background-color: rgb(199, 199, 199); */
        box-shadow: 0 0 10px 1px rgb(38, 37, 37)
            
    }
}
/* @media only screen and (min-width:1542px){
   
} */