<div class="container mx-auto divGrand">
    <h1 class="text-center mx-auto "><i class="fa fa-lock fa-lg" aria-hidden="true"></i></h1>
    <h6><strong>Vous avez oublié votre mot de passe ?</strong></h6>
    <div class="container mx-auto">
        <p class="mt-4">Entrez votre adresse e-mail, et nous vous enverrons un lien pour récupérer votre compte.</p><br>
        <!-- formulaire mot de passe oubliee-->
        <form [formGroup]="form" action=" " class="justify-content-center mx-auto">
            <input formControlName="email" type="text" placeholder="Entrez votre adresse e-mail..." class="border bg-light"/>            
                
            <input (click)="onSubmit()" name="" class="btn w-50 mt-3" type="submit" value="Confirmer">              
        </form>
        <p *ngIf="affiche" class="mt-3" style="color: brown;">Email incorrect !!!</p>
        <p class="mt-3"><a class="text-decoration-none" routerLink="/connexion">Revenir à la page de connexion</a></p>
    </div>
</div>