<app-top-header></app-top-header>
<div
  style="top: 50px; position: fixed; display: block; width: 100%; z-index: 100"
>
  <app-header></app-header>
</div>

<div class="container w-75 mx-auto" style="margin-top: 160px">
  <form class="d-flex mb-0">
    <input
      class="form-control py-3"
      style="font-size: 12px"
      type="search"
      placeholder="Rechercher une entreprise ou un cabinet de recrutement..."
      aria-label="Search"
    />
    <button class="btn" type="submit" style="background-color: rgb(95, 109, 255); color: aliceblue;">
      Rechercher
    </button>
  </form>

  <div class="row">
    <div class="col-lg-12">
      <div style="margin: 15px 0px 20px">
        <h1 class="h1h2title">Recrutement Maroc – Les entreprises à la une</h1>
        <span style="margin-top: 10px; display: block; font-size: 13px"
          >Venez découvrir en détail les entreprises à la Une.</span
        >
      </div>
    </div>
  </div>

  <div class="row minisite" id="masonry">
    <div alt="-aria group" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="emply-list box">
        <div
          class="emply-list-thumb"
          style="
            background-image: url('https://www.rekrute.com/images/logos/logo_entreprise/1720_1.png');
          "
        >
          <a
            title="Aria group"
            href="https://ariagroup.io/carrieres/"
            target="_blank"
          >
            <img
              src="https://www.rekrute.com/images/logos/logo_entreprise/1720_2.png"
              alt="Recrutement Maroc Aria group"
              title="Aria group"
            />
          </a>
        </div>
        <div class="emply-pstn">6 Offres, 61 Postes proposés</div>
      </div>
      <!-- Employe List -->
    </div>

    <div alt="-atos" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="emply-list box">
        <div
          class="emply-list-thumb"
          style="
            background-image: url('https://www.rekrute.com/images/logos/logo_entreprise/2564_1.png');
          "
        >
          <a
            title="Atos"
            href="https://atos.net/en/atos-morocco-recruitment"
            target="_blank"
            onclick=""
          >
            <img
              src="https://www.rekrute.com/images/logos/logo_entreprise/2564_2.png"
              alt="Recrutement Maroc Atos"
              title="Atos"
            />
          </a>
        </div>
        <div class="emply-pstn">28 Offres, 75 Postes proposés</div>
      </div>
      <!-- Employe List -->
    </div>

    <div alt="-attijariwafa bank" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="emply-list box">
        <div
          class="emply-list-thumb"
          style="
            background-image: url('https://www.rekrute.com/images/logos/logo_entreprise/1523_1.png');
          "
        >
          <a
            title="Attijariwafa bank"
            href=""
            target="_blank"
            onclick=""
          >
            <img
              src="https://www.rekrute.com/images/logos/logo_entreprise/1523_2.png"
              alt="Recrutement Maroc Attijariwafa bank"
              title="Attijariwafa bank"
            />
          </a>
        </div>
        <div class="emply-pstn">51 Offres, 120 Postes proposés</div>
      </div>
      <!-- Employe List -->
    </div>

    <div
      alt="-axa rabat  axa services "
      class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
    >
      <div class="emply-list box">
        <div
          class="emply-list-thumb"
          style="
            background-image: url('https://www.rekrute.com/images/logos/logo_entreprise/105579_1.png');
          "
        >
          <a
            title="AXA Rabat (Axa Services)"
            href=""
            target="_blank"
            onclick=""
          >
            <img
              src="https://www.rekrute.com/images/logos/logo_entreprise/105579_2.png"
              alt="Recrutement Maroc AXA Rabat (Axa Services)"
              title="AXA Rabat (Axa Services)"
            />
          </a>
        </div>
        <div class="emply-pstn">7 Offres, 72 Postes proposés</div>
      </div>
      <!-- Employe List -->
    </div>

    <div alt="-bank of africa" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="emply-list box">
        <div
          class="emply-list-thumb"
          style="
            background-image: url('https://www.rekrute.com/images/logos/logo_entreprise/3190_1.png');
          "
        >
          <a
            title="Bank Of Africa"
            href=""
            target="_blank"
            onclick=""
          >
            <img
              src="https://www.rekrute.com/images/logos/logo_entreprise/3190_2.png"
              alt="Recrutement Maroc Bank Of Africa"
              title="Bank Of Africa"
            />
          </a>
        </div>
        <div class="emply-pstn">4 Offres</div>
      </div>
      <!-- Employe List -->
    </div>

    <div
      alt="-bmci groupe bnp paribas"
      class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
    >
      <div class="emply-list box">
        <div
          class="emply-list-thumb"
          style="
            background-image: url('https://www.rekrute.com/images/logos/logo_entreprise/1485_1.png');
          "
        >
          <a
            title="BMCI Groupe BNP Paribas"
            href=""
            target="_blank"
            onclick=""
          >
            <img
              src="https://www.rekrute.com/images/logos/logo_entreprise/1485_2.png"
              alt="Recrutement Maroc BMCI Groupe BNP Paribas"
              title="BMCI Groupe BNP Paribas"
            />
          </a>
        </div>
        <div class="emply-pstn">15 Offres, 23 Postes proposés</div>
      </div>
      <!-- Employe List -->
    </div>

    <div alt="-groupe renault" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="emply-list box">
        <div
          class="emply-list-thumb"
          style="
            background-image: url('https://www.rekrute.com/images/logos/logo_entreprise/2765_1.png');
          "
        >
          <a
            title="Groupe Renault"
            href=""
            target="_blank"
            onclick=""
          >
            <img
              src="https://www.rekrute.com/images/logos/logo_entreprise/2765_2.png"
              alt="Recrutement Maroc Groupe Renault"
              title="Groupe Renault"
            />
          </a>
        </div>
        <div class="emply-pstn">2 Offres, 2 Postes proposés</div>
      </div>
      <!-- Employe List -->
    </div>

    <div alt="-intelcia" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="emply-list box">
        <div
          class="emply-list-thumb"
          style="
            background-image: url('https://www.rekrute.com/images/logos/logo_entreprise/127912_1.png');
          "
        >
          <a
            title="Intelcia"
            href=""
            target="_blank"
            onclick=""
          >
            <img
              src="https://www.rekrute.com/images/logos/logo_entreprise/127912_2.png"
              alt="Recrutement Maroc Intelcia"
              title="Intelcia"
            />
          </a>
        </div>
        <div class="emply-pstn">36 Offres, 36 Postes proposés</div>
      </div>
      <!-- Employe List -->
    </div>

    <div alt="-lydec" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="emply-list box">
        <div
          class="emply-list-thumb"
          style="
            background-image: url('https://www.rekrute.com/images/logos/logo_entreprise/3188_1.png');
          "
        >
          <a
            title="Lydec"
            href=""
            target="_blank"
            onclick=""
          >
            <img
              src="https://www.rekrute.com/images/logos/logo_entreprise/3188_2.png"
              alt="Recrutement Maroc Lydec"
              title="Lydec"
            />
          </a>
        </div>
        <div class="emply-pstn">23 Offres, 28 Postes proposés</div>
      </div>
      <!-- Employe List -->
    </div>

    <div
      alt="-societe generale maroc"
      class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
    >
      <div class="emply-list box">
        <div
          class="emply-list-thumb"
          style="
            background-image: url('https://www.rekrute.com/images/logos/logo_entreprise/3233_1.png');
          "
        >
          <a
            title="Société Générale Maroc"
            href=" "
            target="_blank"
            onclick=""
          >
            <img
              src="https://www.rekrute.com/images/logos/logo_entreprise/3233_2.png"
              alt="Recrutement Maroc Société Générale Maroc"
              title="Société Générale Maroc"
            />
          </a>
        </div>
        <div class="emply-pstn">14 Offres, 21 Postes proposés</div>
      </div>
      <!-- Employe List -->
    </div>

    <div alt="-the view agadir" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="emply-list box">
        <div
          class="emply-list-thumb"
          style="
            background-image: url('https://www.rekrute.com/images/logos/logo_entreprise/338304_1.png');
          "
        >
          <a
            title="The View Agadir"
            href=""
            target="_blank"
            onclick=""
          >
            <img
              src="https://www.rekrute.com/images/logos/logo_entreprise/338304_2.png"
              alt="Recrutement Maroc The View Agadir"
              title="The View Agadir"
            />
          </a>
        </div>
        <div class="emply-pstn">6 Offres</div>
      </div>
      <!-- Employe List -->
    </div>

    <div alt="-webhelp maroc" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="emply-list box">
        <div
          class="emply-list-thumb"
          style="
            background-image: url('https://www.rekrute.com/images/logos/logo_entreprise/8056_1.png');
          "
        >
          <a
            title="Webhelp Maroc"
            href=""
            target="_blank"
            onclick=""
          >
            <img
              src="https://www.rekrute.com/images/logos/logo_entreprise/8056_2.png"
              alt="Recrutement Maroc Webhelp Maroc"
              title="Webhelp Maroc"
            />
          </a>
        </div>
        <div class="emply-pstn">42 Offres, 338 Postes proposés</div>
      </div>
      <!-- Employe List -->
    </div>
  </div>
</div>

<app-footer></app-footer>
