<app-top-header></app-top-header>
<div  style="top:50px;position: fixed; display:block;width:100%;z-index: 100;">
  <app-header-entreprise></app-header-entreprise>
</div>


<div class="row w-50  mx-auto">
    <div class="contLink mb-3" >
        <a class="" href="/espaceEntreprise">Accueil</a> ›<a class="" href="/profilOffre"> Profile </a>
      </div>
            <!-- <div id="wrapper" class=" w-50"> -->
       <!-- Sidebar -->
       <div class=" col-4 " id="sidebar-wrapper" >
            <div class="bg-info w-75 mx-auto mt-5" style="height: 180px; border-radius: 50%;">
                <img [src]="image" >
            </div>
            <h5 class="text-center mt-3 text-decoration-none">Hamza Laghnimi</h5>
            
       </div>

       <!-- Page Content -->


    <form class=" d-flex flex-column col-6 form-horizontal ms-1 bg-light " action=" " method="post"  id="contact_form" style="height: 100%;margin-left:-8px;padding:30px 15px;">
                  <fieldset> 
        
        <div class="form-group col-10 mx-auto ">
            <h5 class="mb-5">Stagiaire en Génie Informatique</h5>
        </div>       
          <!-- Text input-->        
          <div class="form-group">
            <label class="col-md-4 control-label">Niveau d'étude :</label>  
            <span>Bac+3</span>
        </div>
        <!-- Text input-->        
        <div class="form-group">
            <label class="col-md-4 control-label">Durée du stage :</label>  
            <span>2 mois</span>
        </div>
        <!-- Text input-->        
        <div class="form-group">
            <label class="col-md-4 control-label">Type de stage :</label>  
            <span>Stage fonctionnel</span>
        </div>
        <!-- Text input-->        
        <div class="form-group">
            <label class="col-md-4 control-label">Ville de stage : </label>  
            <span>Kenitra</span>
        </div>
        <!-- Text input-->        
        <div class="form-group">
            <label class="col-md-4 control-label">Nom :</label>
            <span>Khalid Hamdaoui</span>  
        </div>
        
        
        <!-- Text input-->
               <div class="form-group">
          <label class="col-md-4 control-label">Email :</label>  
            <span>Khalidhamdaoui@gmail.com</span>
        </div>
        
        
        <!-- Text input-->
               
        <div class="form-group">
          <label class="col-md-4 control-label">Téléphone :</label>  
            <span>0693241700</span>
        </div>
        
        <!-- Text input-->
              
        <div class="form-group">
          <label class="col-md-4 control-label">Addresse :</label>  
          <span>Temara, Sect 03 NR 465</span>
        </div>
        
        <!-- Text input-->
         
        <div class="form-group">
          <label class="col-md-4 control-label">Ville :</label>  
          <span>Temara</span>
        </div>

        <!-- Text input-->
    
        <div class="form-group">
            <label class="col-md-4 control-label">Consulter CV :</label>  
            <!-- <iframe src="chemin_de_document" width="800" height="1000" ></iframe> -->

            </div>
    
        <!-- Button -->
        <div class=" d-flex mx-auto col-4" style="margin:50px 0 0 0;">
          <div class="col-md-4 me-5">
            <button type="submit" class="btn btn-success" >Accepter</button>
          </div>
          <div class="col-md-4 ms-5">
            <button type="submit" class="btn btn-danger" >Refuser </button>
          </div>
        </div>
        
        </fieldset>
        </form>

        
        </div>



 <app-footer></app-footer>
 
