<app-top-header></app-top-header>
<div
  style="top: 50px; position: fixed; display: block; width: 100%; z-index: 100"
>
  <app-header></app-header>
</div>

<div
  class="mx-auto div-cours"
  style="margin-top: 200px; width: 90%; height: 600px"
>
  <nav class="" style="width: 100%">
    <a routerLink="/cours">ERP</a>
    <a routerLink="" class="projects"
      >Transformation digitale et technologies numériques</a
    >
    <a routerLink="" class="services">Maintenance</a>
    <a routerLink="" class="contact">Robotic et automatisme</a>
    <a routerLink="" class="contact">Système de management</a>
    <a routerLink="" class="contact">BIM</a>
  </nav>
  <div style="border: 1px solid black; width: 100%; height: 100%">
    <section role="button"  tabindex="0" class="styles_SearchCard__KE1Xk" data-qa-group="tutor-profile" data-qa-id="2904997">

        

    </section>
</div>
</div>
