<app-top-header></app-top-header>
<div
  style="top: 50px; position: fixed; display: block; width: 100%; z-index: 100;"
>
  <app-header></app-header>
</div>

<h3 class="text-center mb-5" style="margin-top: 200px">
  TROUVEZ UN EMPLOI PARMI PLUSIEURS OFFRES D'EMPLOI DISPONIBLES AUJOURD'HUI
</h3>

<div class="container contGrand p-5 bg-light w-75">
  <form class="d-flex mb-0">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Rechercher"
      aria-label="Search"
    />
    <button class="btn" type="submit" style="background-color: #0099DD;color: white;">
      Rechercher
    </button>
  </form>
  <div class="container contFilter w-100">
    <!-- <input type="text" class="btn mx-4 my-3" placeholder="Mots-clé" id=""> -->
    <select class="form-select m-3" aria-label="Default select example">
      <option selected>Niveau d'étude</option>
      <option value="1">Bac</option>
      <option value="2">Bac+1</option>
      <option value="3">Bac+2</option>
      <option value="3">Bac+3</option>
      <option value="3">Bac+4</option>
      <option value="3">Bac+5 et plus</option>
    </select>
    <select class="form-select m-3" aria-label="Default select example">
      <option selected>Secteur</option>
      <option value="1">Agroalimentaire</option>
      <option value="2">Banque / Assurance</option>
      <option value="3">BTP / Matériaux de construction</option>
      <option value="1">Industrie pharmaceutique</option>
      <option value="1">Informatique / Télécoms</option>
      <option value="1">Métallurgie / Travail du métal</option>
      <option value="1">Transports / Logistique</option>
      <option value="1">Machines et équipements / Automobile</option>
      <option value="1">Plastique / Caoutchouc</option>
      <option value="1">Textile / Habillement / Chaussure</option>
      <option value="1">Études et conseils</option>
      <option value="1">Chimie / Parachimie</option>
    </select>
    <select class="form-select m-3" aria-label="Default select example">
      <option selected>Expérience</option>
      <option value="1">Débutant</option>
      <option value="2">Moins de 1 an</option>
      <option value="3">De 1 à 3 ans</option>
      <option value="3">De 3 à 5 ans</option>
      <option value="3">De 5 à 10 ans</option>
      <option value="3">De 10 à 20 ans</option>
      <option value="3">Plus de 20 ans</option>
    </select>
    <select class="form-select m-3" aria-label="Default select example">
      <option selected>Region</option>
      <option value="1">Rabat</option>
      <option value="2">Casablanca</option>
      <option value="3">Salé</option>
      <option value="3">Tanger</option>
      <option value="3">Tetouan</option>
      <option value="3">Safi</option>
    </select>
  </div>
</div>
<!-- -------Les entreprises de la semaine -->

<section class="mt-5 mb-5" style="background-color: #eee">
  <div class="container text-center my-5">
    <h3>Les entreprises de la semaine :</h3>
  </div>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="heading" style="margin-bottom: 0px"></div>
          <!-- Heading -->
          <div class="row top-company-sec">
            <div class="col-lg-2 d-none d-lg-block">
              <div class="top-compnay style2">
                <input type="hidden" id="" />
                <a id="" href="" class="el">
                  <img
                    title=""
                    alt="logo"
                    style="width: 150px; height: 80px"
                    src="https://upload.wikimedia.org/wikipedia/commons/d/db/MAPmaroc-logo.jpg"
                    class="photo"
                  />
                </a>
              </div>
              <!-- Top Company -->
              <div class="top-compnay style2">
                <input type="hidden" id="" />
                <a id="" href="" class="el">
                  <img
                    title=" Leyton"
                    alt="logo"
                    style="width: 150px; height: 80px"
                    src="https://www.rekrute.com/rekrute/file/entrepriseLogo/recruiter_id/5622/pathsource/sql_digital_violet-p.jpg/home/1"
                    class="photo"
                  />
                </a>
              </div>
              <!-- Top Company -->
              <div class="top-compnay style2">
                <input type="hidden" id="" value="" />
                <a id="" href="" class="el">
                  <img
                    title=""
                    alt="logo"
                    style="width: 150px; height: 80px"
                    src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Cih-bank.png"
                    class="photo"
                  />
                </a>
              </div>
              <!-- Top Company -->
            </div>
            <div class="col-lg-8 grand d-none d-lg-block">
              <div class="top-compnay style2">
                <div>
                  <input type="hidden" name="" id="" value="" />
                  <a id="" href="">
                    <img
                      title="logo"
                      alt="logo"
                      src="https://www.rekrute.com/rekrute/file/entrepriseLogoInfo/recruiter_id/333484/pathsource/cnexia-g.gif"
                    />
                  </a>
                </div>
                <p>
                  Rejoignez Cnexia et faites le choix de faire partie d’un
                  projet qui valorise l’innovation, promeut le développement
                  continu des compétences et donne l’opportunité aux personnes
                  créatives et ambitieuses du domaine des hautes technologies de
                  réaliser leurs objectifs professionnels. Fiers de notre statut
                  de filiale Marocaine exclusive de l’opérateur télécom
                  historique du Canada, nous n’avons cessé d’élargir nos équipes
                  depuis 2021...
                  <a href="">[+]</a>
                </p>
              </div>
              <!-- Top Company -->
            </div>
            <div class="col-lg-2 d-none d-lg-block">
              <div class="top-compnay style2">
                <input type="hidden" id="" value="" />
                <a id="" href="" class="el">
                  <img
                    title=""
                    alt="logo"
                    width="86"
                    src="https://www.rekrute.com/rekrute/file/entrepriseLogo/recruiter_id/5622/pathsource/sql_digital_violet-p.jpg/home/1"
                    class="photo"
                  />
                </a>
              </div>
              <!-- Top Company -->
              <div class="top-compnay style2">
                <input type="hidden" id="" value="" />
                <a id="" href="" class="el">
                  <img
                    title=""
                    alt="logo"
                    width="86"
                    src="https://www.rekrute.com/images/logos/logo_entreprise/8056_2.png"
                    class="photo"
                  />
                </a>
              </div>
              <!-- Top Company -->
              <div class="top-compnay style2">
                <input type="hidden" id="" value="" />
                <a id="" href="" class="el">
                  <img
                    title=""
                    alt="logo"
                    width="86"
                    src="https://www.rekrute.com/images/logos/logo_entreprise/105579_2.png"
                    class="photo"
                  />
                </a>
              </div>
              <!-- Top Company -->
            </div>
          </div>

          <div class="browse-all-cat">
            <a href="/allEntreprise" onclick="" title="">Voir toutes les entreprises</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ------------les offres trouvées--- -->

<div class="offers">
  <div class="heading text-center">
    <h2>Les offres du moment</h2>
  </div>
  <div class="swiper-container swiper-container-horizontal">
    <div
      class="swiper-wrapper"
      style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms"
    >
      <div class="swiper-slide swiper-slide-active" style="margin-right: 25px">
        <div class="offer">
          <div class="offer-header">
            <div class="offer-status">
              <h5>Nouveau</h5>
            </div>
            <h3
              title="Commercial de Terrain"
              style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #77C7D9; "  >
              Commercial de Terrain
            </h3>
            <span>RH PRO PLUS</span>
          </div>
          <div class="offer-body">
            <h4 class="location">
              <img
                src="https://www.m-job.ma/themes/m-job/assets/images/black-location.png"
                alt="#"
              />
              Casablanca
            </h4>
            <p style="height: 80px; overflow: hidden; text-overflow: ellipsis">
              Missions&nbsp;:&nbsp; - Développer un portefeuille de prospects
              -&nbsp;La proposition d’offres adaptées aux besoins des clients -
              Suivre son portefeuille clients...
            </p>
            <span class="date">7 heures avant</span>
          </div>
          <a href="" class="redirect-link" title="Commercial de Terrain"></a>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="margin-right: 25px">
        <div class="offer">
          <div class="offer-header">
            <div class="offer-status">
              <h5>Nouveau</h5>
            </div>
            <h3
              title="Conseiller Commercial en Mutuelle Santé"
              style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #77C7D9;
              "
            >
              Conseiller Commercial en Mutuelle Santé
            </h3>
            <span>AXELLIANCES CONSULTING</span>
          </div>
          <div class="offer-body">
            <h4 class="location">
              <img
                src="https://www.m-job.ma/themes/m-job/assets/images/black-location.png"
                alt="#"
              />
              Casablanca
            </h4>
            <p style="height: 80px; overflow: hidden; text-overflow: ellipsis">
              Un poste en CDI à temps plein, basé à Casablanca ou Mohammedia. Un
              salaire fixe attractif varie entre (7000 Mad...
            </p>
            <span class="date">7 heures avant</span>
          </div>
          <a
            href=""
            class="redirect-link"
            title="Conseiller Commercial en Mutuelle Santé"
          ></a>
        </div>
      </div>
      <div class="swiper-slide" style="margin-right: 25px">
        <div class="offer">
          <div class="offer-header">
            <div class="offer-status">
              <h5>Nouveau</h5>
            </div>
            <h3
              title="commerciaux en mutuelle"
              style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #77C7D9;
              "
            >
              commerciaux en mutuelle
            </h3>
            <span>elsayed service</span>
          </div>
          <div class="offer-body">
            <h4 class="location">
              <img
                src="https://www.m-job.ma/themes/m-job/assets/images/black-location.png"
                alt="#"
              />
              Casablanca
            </h4>
            <p style="height: 80px; overflow: hidden; text-overflow: ellipsis">
              merci d envoyer vos cv
            </p>
            <span class="date">7 heures avant</span>
          </div>
          <a href=" " class="redirect-link" title="commerciaux en mutuelle"></a>
        </div>
      </div>
      <div class="swiper-slide" style="margin-right: 25px">
        <div class="offer">
          <div class="offer-header">
            <div class="offer-status">
              <h5>Nouveau</h5>
            </div>
            <h3
              title="CHARGÉS CLIENTÈLE EN RÉCEPTION D'APPELS (4500 +PRIMES)"
              style="
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #77C7D9;
              "
            >
              CHARGÉS CLIENTÈLE EN RÉCEPTION D'APPELS (4500 +PRIMES)
            </h3>
            <span>Excellium Carrières</span>
          </div>
          <div class="offer-body">
            <h4 class="location">
              <img
                src="https://www.m-job.ma/themes/m-job/assets/images/black-location.png"
                alt="#"
              />
              Marrakech
            </h4>
            <p style="height: 80px; overflow: hidden; text-overflow: ellipsis">
              Pour une multinationale basée à Casablanca nous recrutons en des
              chargés de clientèle en réception d'appels sur site et
              maitrisant...
            </p>
            <span class="date">7 heures avant</span>
          </div>
          <a
            href=""
            class="redirect-link"
            title="CHARGÉS CLIENTÈLE EN RÉCEPTION D'APPELS (4500 +PRIMES)"
          ></a>
        </div>
      </div>
 

      <!-- -------5------- -->
 


    </div>
    
    <!-- ------------les offres trouvées--- -->

<div class="offers">

    <div class="swiper-container swiper-container-horizontal">
      <div
        class="swiper-wrapper"
        style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms"
      >
        <div class="swiper-slide swiper-slide-active" style="margin-right: 25px">
          <div class="offer">
            <div class="offer-header">
              <div class="offer-status">
                <h5>Nouveau</h5>
              </div>
              <h3
                title="Commercial de Terrain"
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: #77C7D9; "  >
                Commercial de Terrain
              </h3>
              <span>RH PRO PLUS</span>
            </div>
            <div class="offer-body">
              <h4 class="location">
                <img
                  src="https://www.m-job.ma/themes/m-job/assets/images/black-location.png"
                  alt="#"
                />
                Casablanca
              </h4>
              <p style="height: 80px; overflow: hidden; text-overflow: ellipsis">
                Missions&nbsp;:&nbsp; - Développer un portefeuille de prospects
                -&nbsp;La proposition d’offres adaptées aux besoins des clients -
                Suivre son portefeuille clients...
              </p>
              <span class="date">7 heures avant</span>
            </div>
            <a href="" class="redirect-link" title="Commercial de Terrain"></a>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-next" style="margin-right: 25px">
          <div class="offer">
            <div class="offer-header">
              <div class="offer-status">
                <h5>Nouveau</h5>
              </div>
              <h3
                title="Conseiller Commercial en Mutuelle Santé"
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: #77C7D9;
                "
              >
                Conseiller Commercial en Mutuelle Santé
              </h3>
              <span>AXELLIANCES CONSULTING</span>
            </div>
            <div class="offer-body">
              <h4 class="location">
                <img
                  src="https://www.m-job.ma/themes/m-job/assets/images/black-location.png"
                  alt="#"
                />
                Casablanca
              </h4>
              <p style="height: 80px; overflow: hidden; text-overflow: ellipsis">
                Un poste en CDI à temps plein, basé à Casablanca ou Mohammedia. Un
                salaire fixe attractif varie entre (7000 Mad...
              </p>
              <span class="date">7 heures avant</span>
            </div>
            <a
              href=""
              class="redirect-link"
              title="Conseiller Commercial en Mutuelle Santé"
            ></a>
          </div>
        </div>
        <div class="swiper-slide" style="margin-right: 25px">
          <div class="offer">
            <div class="offer-header">
              <div class="offer-status">
                <h5>Nouveau</h5>
              </div>
              <h3
                title="commerciaux en mutuelle"
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: #77C7D9;
                "
              >
                commerciaux en mutuelle
              </h3>
              <span>elsayed service</span>
            </div>
            <div class="offer-body">
              <h4 class="location">
                <img
                  src="https://www.m-job.ma/themes/m-job/assets/images/black-location.png"
                  alt="#"
                />
                Casablanca
              </h4>
              <p style="height: 80px; overflow: hidden; text-overflow: ellipsis">
                merci d envoyer vos cv
              </p>
              <span class="date">7 heures avant</span>
            </div>
            <a href=" " class="redirect-link" title="commerciaux en mutuelle"></a>
          </div>
        </div>
        <div class="swiper-slide" style="margin-right: 25px">
          <div class="offer">
            <div class="offer-header">
              <div class="offer-status">
                <h5>Nouveau</h5>
              </div>
              <h3
                title="CHARGÉS CLIENTÈLE EN RÉCEPTION D'APPELS (4500 +PRIMES)"
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: #77C7D9;
                "
              >
                CHARGÉS CLIENTÈLE EN RÉCEPTION D'APPELS (4500 +PRIMES)
              </h3>
              <span>Excellium Carrières</span>
            </div>
            <div class="offer-body">
              <h4 class="location">
                <img
                  src="https://www.m-job.ma/themes/m-job/assets/images/black-location.png"
                  alt="#"
                />
                Marrakech
              </h4>
              <p style="height: 80px; overflow: hidden; text-overflow: ellipsis">
                Pour une multinationale basée à Casablanca nous recrutons en des
                chargés de clientèle en réception d'appels sur site et
                maitrisant...
              </p>
              <span class="date">7 heures avant</span>
            </div>
            <a
              href=""
              class="redirect-link"
              title="CHARGÉS CLIENTÈLE EN RÉCEPTION D'APPELS (4500 +PRIMES)"
            ></a>
          </div>
        </div> 
  
  
      </div>
    <!-- <div class="swiper-navigation">
      <div
        class="button-prev swiper-button-disabled"
        style="margin-right: 10px"
        tabindex="0"
        role="button"
        aria-label="Previous slide"
        aria-disabled="true"
      >
        <i class="fa fa-angle-left"></i>
      </div>
      <div
        class="button-next"
        style="margin-left: 10px"
        tabindex="0"
        role="button"
        aria-label="Next slide"
        aria-disabled="false"
      >
        <i class="fa fa-angle-right"></i>
      </div>
    </div> -->
    <span
      class="swiper-notification"
      aria-live="assertive"
      aria-atomic="true"
    ></span>
  </div>
</div>

<!-- <div class="container w-100 py-2" *ngFor = "let offer of jobOffers | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <div class="container  w-100   contDemandes " >
            <a (click)="onSubmit(offer.id)" class="text-dark text-decoration-none">
                <div class="row  w-75 mx-auto p-5 contPetit">
                    <div class="col-2">
                        <div class="imgProfil mx-auto">
                           <img [src]="logoEntreprise">
                        </div>
                        <h6><a href="">Ramaqs</a></h6>
                    </div>
    
                    <div class="col ps-4   ">
                        <h5>{{offer.titre}}</h5>
                        <h6>{{offer.society.name}}</h6>
                        <p>{{offer.description}}</p>
                    </div>
                    <div class="col-2 w-25 ">
                        <h4><i class="fa fa-map-marker" aria-hidden="true"> {{offer.region}}</i></h4>
                        <h6>{{offer.typeContrat}}</h6>
                        <p>à partir du {{offer.dateCreate}} et à la fin du {{offer.dateLimite}}</p>
                    </div>
                </div>
            </a>
        </div>
    
    </div> -->

<!-- <div class="w-25 mx-auto my-5 mt-4" >
        <ul class="pagination mx-auto">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>
        
    </div> -->

<div class="" id="services">
  <div class="container">
    <div class="section-title">3 bonnes raisons d'utiliser Intelligentia</div>
    <div class="row">
      <div class="col-md-4 service">
        <img
          src="https://www.jobijoba.com/build/images/home/letter.svg"
          alt="Ne ratez aucune offre"
          loading="lazy"
          width="40%"
          height="auto"
        />
        <div class="title">Ne ratez aucune offre</div>
        <div class="description">
          Soyez alerté par email dès qu'une nouvelle offre d'emploi correspond à
          votre profil
        </div>
        <a class="link" href="" rel="nofollow">Créer une alerte email</a>
      </div>
      <div class="col-md-4 service">
        <img
          src="https://www.jobijoba.com/build/images/home/alarm_clock.svg"
          alt="Gagnez du temps"
          loading="lazy"
          width="40%"
          height="auto"
        />
        <div class="title">Gagnez du temps</div>
        <div class="description">
          Intelligentia regroupe pour vous toutes les offres du marché, quel que soit
          le secteur ou le type de poste que vous visez
        </div>
        <a class="link" href="">Faire une recherche</a>
      </div>
      <div class="col-md-4 service">
        <img
          src="https://www.jobijoba.com/build/images/home/graphic.svg"
          alt="Plus besoin de chercher"
          loading="lazy"
          width="40%"
          height="auto"
        />
        <div class="title">Plus besoin de chercher</div>
        <div class="description">
          Vous avez un CV ? Grâce à son analyse, nous trouvons pour vous les
          offres d'emploi qui correspondent à votre profil.
        </div>
        <a class="link" href="">Découvrir mes offres</a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
