<div class="form mx-auto divConfirm">
    <h4 class="">Vérification</h4>
    <div class="row justify-content-center align-items-center g-2 mx-auto">
        <p class="mt-4">entrez le code à 6 chiffres que nous vous avons envoyé par e-mail pour continuer.</p><br>
        <h5 class="mt-2">Ramaqs@gmail.com</h5>
        <div class=" mt-2">
            <form [formGroup]="form" action=" " class="row  justify-content-center mx-auto" autocomplete="off">
                <input formControlName="confirmation" type="text" placeholder="X-X-X-X-X-X"  maxlength="6" class="InputConfirm w-75 ms-1 py-3 border bg-light" required onpaste="false"/>    

                <button (click)="onSubmit()" name="" id="" class="w-50 mt-3" type="submit">Continue</button> 

                  <div class="col-12 mt-3">
                    n'a pas reçu le code ?<a (click)="onClick()" type="submit" class="text-decoration-none">Renvoyer le code</a> 
                  </div>       
            </form>
            <h6 *ngIf="noConfirme" style="color: brown;">
              Code de confirmation incorrect !!!
            </h6>
            <h6 *ngIf="confirme">
              revoire votre mail ! 
            </h6>
          </div>
    </div>
</div>

