.divConfirm{
    margin-top: 100px;
    padding: 50px;
    width: 30%;
    border-radius: 15px;
    text-align: center;
    /* background-color: rgb(199, 199, 199); */
    background-color: white;
    box-shadow: 0 10px 15px -5px black;
    border: 1px solid black;

}
button {
	border-radius: 20px;
	border: 1px solid black;
	background-color: #2B8C44;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.InputConfirm {
    border-radius: 5px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    outline:1px auto black;
    text-align: center;
    font-weight: 600;
}
.InputConfirm::-webkit-inner-spin-button
.InputConfirm::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}
.InputConfirm:valid{
    border:2px solid  wheat;
    box-shadow: 0 10px 10px -5px black;
}
form .btn{
    font-size: 20px;
    background-color: #52b46b;
    border:none;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
form .btn:hover{
    background-color:   #2B8C44;
}
@media only screen and (max-width:600px){
    .divConfirm{
        margin: 100px;
        width: 80%;

    }
    .InputConfirm {
        width: 40px;
        height: 40px;
     
    }
}
/* @media only screen and (min-width:1542px){
    .divConfirm{
        margin: 100px;
        width: 50%;
        border-radius: 15px;
        text-align: center;
        background-color: aquamarine;
    }
    .InputConfirm {
        border-radius: 5px;
        font-size: 30px;
        width: 45px;
        height: 45px;
        text-align: center;
        font-weight: 600;
        border: 5px solid red;
    }
} */