<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Certificat</title>
</head>
<body>
<h1>Certificat Intelligentsia</h1>
<!-- <p>Je soussigné(e), responsable de la formation <span th:text="${certification.course.name}"></span>, atteste que
    <span th:text="${certification.student.name}"></span> a suivi avec succès cette formation le <span th:text="${#dates.format(certification.date, 'dd/MM/yyyy')}"></span>.</p>
-->
</body>
</html>